<p>Dear {{user}},</p>

<p>Thank you for registering with our service. To complete your account verification, please click the link below:</p>

<p><a href="{{frontendOrigin}}/auth/verify-email?token={{verificationToken}}">Verify Account</a></p>

<p>If you did not create an account, please ignore this email.</p>

<p>Best regards,<br>Runnie Team</p>