<p>Dear {{user}},</p>

<p>To complete your reset password process, please click the link below:</p>

<p><a href="{{frontendOrigin}}/auth/reset-password?token={{token}}">Reset password</a></p>

<p>If you did not create this request, please ignore this email.</p>

<p>Best regards,<br>Runnie Team</p>